# compiled output
/frontend/dist
/frontend/tmp
/frontend/out-tsc

# dependencies
/frontend/node_modules
/nebular-apis/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vs
.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/frontend/.sass-cache
/frontend/connect.lock
/frontend/coverage
/frontend/libpeerconnection.log
/frontendnpm-debug.log
/frontendtestem.log
/frontend/typings
/frontend/docs

# e2e
/frontend/e2e/*.js
/frontend/e2e/*.map

# System Files
/frontend.DS_Store
/frontendThumbs.db
