<nb-card>
  <nb-card-header>Create Purchase</nb-card-header>
  <nb-card-body class="example-items-col mt-2">
    <form
      name="createProviderForm"
      class="dis-flex just-between align-start">

      <div
        class="p-1"
        [class.w-25]="25">

        <label for="Codgo Acdliar">Codgo Acdliar</label>
        <nb-select
          placeholder="Codgo Acdliar"
          formControl="Codgo Acdliar"
          class="dis-block select-style"
          fullWidth
          name="Codgo Acdliar">
          <nb-option value="1">Option 1</nb-option>
          <nb-option value="2">Option 2</nb-option>
          <nb-option value="3">Option 3</nb-option>
          <nb-option value="4">Option 4</nb-option>
        </nb-select>

      </div>

      <div
        class="p-1"
        [class.w-25]="25">

        <label for="Numero Factura">Numero Factura</label>
        <input
          type="text"
          nbInput
          fullWidth
          formControlName="Numero Factura"
          name="Numero Factura"
          fieldSize="medium"
          placeholder="Numero Factura"
          class="dis-block"
          />

      </div>

      <div
        class="p-1"
        [class.w-25]="25">

        <label for="Fecha Compra">Fecha Compra</label>
        <input
          type="text"
          nbInput
          fullWidth
          formControlName="Fecha Compra"
          name="Fecha Compra"
          fieldSize="medium"
          placeholder="Fecha Compra"
          class="dis-block"
          />

      </div>

      <div
        class="p-1"
        [class.w-25]="25">
        <label for="Proveedor">Proveedor</label>
        <input
          type="text"
          nbInput
          fullWidth
          formControlName="Proveedor"
          name="Proveedor"
          fieldSize="medium"
          placeholder="Proveedor"
          class="dis-block"
          />
      </div>

      <div
        class="p-1"
        [class.w-25]="25">

        <label for="declaration">declaration</label>
        <input
          type="text"
          nbInput
          fullWidth
          formControlName="Contacts"
          name="Contacts"
          fieldSize="medium"
          placeholder="declaration"
          class="dis-block"
          />

      </div>

      <div
        class="p-1"
        [class.w-25]="25">

        <label for="%Desc">%Desc</label>
        <input
          type="text"
          nbInput
          fullWidth
          formControlName="desc"
          name="desc"
          fieldSize="medium"
          placeholder="%Desc"
          class="dis-block"
          />
      </div>

      <div
        class="p-1"
        [class.w-25]="25">
        <label for="Velor Descuento">Velor Descuento</label>
        <input
          type="number"
          nbInput
          fullWidth
          formControlName="Velor Descuento"
          name="desc"
          fieldSize="medium"
          placeholder="Velor Descuento"
          class="dis-block"
          />
      </div>

      <div
        class="p-1"
        [class.w-25]="25">
        <label for="Rte">Rte</label>
        <nb-select
          placeholder="Rte"
          formControlName="Rte"
          class="dis-block select-style"
          fullWidth
          name="Rte">
          <nb-option value="1">Option 1</nb-option>
          <nb-option value="2">Option 2</nb-option>
          <nb-option value="3">Option 3</nb-option>
          <nb-option value="4">Option 4</nb-option>
        </nb-select>

      </div>

      <div
        class="p-1"
        [class.w-25]="25">
        <label for="%Rte Actual">%Rte Actual</label>
        <input
          type="number"
          nbInput
          fullWidth
          formControlName="%Rte Actual"
          name="desc"
          fieldSize="medium"
          placeholder="%Rte Actual"
          class="dis-block"
          />
      </div>

      <div
        class="p-1"
        [class.w-25]="25">
        <label for="Vlr Minimo Retencion">Vlr Minimo Retencion</label>
        <input
          type="number"
          nbInput
          fullWidth
          formControlName="Vlr Minimo Retencion"
          name="desc"
          fieldSize="medium"
          placeholder="Vlr Minimo Retencion"
          class="dis-block"
          />
      </div>

      <div
        class="p-1"
        [class.w-25]="25">

        <label for="Volor Retefuente">Volor Retefuente</label>
        <input
          type="number"
          nbInput
          fullWidth
          formControlName="Volor Retefuente"
          name="desc"
          fieldSize="medium"
          placeholder="Volor Retefuente"
          class="dis-block"
          />

      </div>

      <div
        class="p-1"
        [class.w-25]="25">

        <label for="Valor I.V.A">Valor I.V.A</label>
        <input
          type="number"
          nbInput
          fullWidth
          formControlName="Valor I.V.A"
          name="desc"
          fieldSize="medium"
          placeholder="Valor I.V.A"
          class="dis-block"
          />

      </div>

      <div
        class="p-1"
        [class.w-25]="25">
        <label for="Anuliado">Anuliado</label><br/>
        <nb-checkbox class="chk-box"></nb-checkbox>
      </div>

      <div
        class="p-1"
        [class.w-25]="25">

        <label for="Comparia">Comparia</label>
        <nb-select
          placeholder="Comparia"
          formControlName="Comparia"
          class="dis-block select-style"
          fullWidth
          name="Comparia">
          <nb-option value="1">Option 1</nb-option>
          <nb-option value="2">Option 2</nb-option>
          <nb-option value="3">Option 3</nb-option>
          <nb-option value="4">Option 4</nb-option>
        </nb-select>

      </div>

      <div
        class="p-1"
        [class.w-25]="25">

        <label for="Adquiridas a titulo">Adquiridas a titulo</label>
        <nb-select
          placeholder="Comparia"
          formControlName="Adquiridas a titulo"
          class="dis-block select-style"
          fullWidth
          name="Adquiridas a titulo">
          <nb-option value="1">Option 1</nb-option>
          <nb-option value="2">Option 2</nb-option>
          <nb-option value="3">Option 3</nb-option>
          <nb-option value="4">Option 4</nb-option>
        </nb-select>

      </div>

      <div
        class="p-1"
        [class.w-25]="25">
        <label for="CP">CP</label>
        <input
          type="number"
          nbInput
          fullWidth
          formControlName="CP"
          name="desc"
          fieldSize="medium"
          placeholder="Volor Retefuente"
          class="dis-block"
          />
      </div>

      <div
        class="p-1"
        [class.w-25]="25">
        <label for="Fecha CP">Fecha CP</label>
        <input
          nbInput
          placeholder="Pick Date"
          [nbDatepicker]="fechaCP"
          formControlName="Fecha CP"
          fullWidth
          class="datePicker-style"
          >
        <nb-datepicker
          #fechaCP>
        </nb-datepicker>
      </div>

      <div
        class="p-1"
        [class.w-25]="25"><label for="Tipo de Compra">Tipo de Compra</label>
        <input
          type="text"
          nbInput
          fullWidth
          formControlName="Tipo de Compra"
          name="Tipo de Compra"
          fieldSize="medium"
          placeholder="Tipo de Compra"
          class="dis-block"
          />
      </div>

      <div
        class="p-1"
        [class.w-25]="25">
        <label for="Resolucion">Resolucion</label>
        <nb-select
          placeholder="Resolucion"
          formControlName="Resolucion"
          class="dis-block select-style"
          fullWidth
          name="Resolucion">
          <nb-option value="1">Option 1</nb-option>
          <nb-option value="2">Option 2</nb-option>
          <nb-option value="3">Option 3</nb-option>
          <nb-option value="4">Option 4</nb-option>
        </nb-select>
      </div>

      <div
        class="p-1"
        [class.w-25]="25">

        <label for="Numero Lote">Numero Lote</label>
        <input
          type="number"
          nbInput
          fullWidth
          formControlName="Numero Lote"
          name="Numero Lote"
          fieldSize="medium"
          placeholder="Numero Lote"
          class="dis-block"
          />

      </div>

      <div
        class="p-1"
        [class.w-25]="25">
        <label for="Fecha Pago Vuce">Fecha Pago Vuce</label>
        <nb-select
          placeholder="Fecha Pago Vuce"
          formControlName="Fecha Pago Vuce"
          class="dis-block select-style"
          fullWidth
          name="Fecha Pago Vuce">
          <nb-option value="1">Option 1</nb-option>
          <nb-option value="2">Option 2</nb-option>
          <nb-option value="3">Option 3</nb-option>
          <nb-option value="4">Option 4</nb-option>
        </nb-select>

      </div>

      <div
        class="p-1"
        [class.w-25]="25">

        <label for="Cludad Regalias">Cludad Regalias</label>
        <nb-select
          placeholder="Cludad Regalias"
          formControlName="Cludad Regalias"
          class="dis-block select-style"
          fullWidth
          name="Cludad Regalias">
          <nb-option value="1">Option 1</nb-option>
          <nb-option value="2">Option 2</nb-option>
          <nb-option value="3">Option 3</nb-option>
          <nb-option value="4">Option 4</nb-option>
        </nb-select>

      </div>

      <div
        class="p-1"
        [class.w-25]="25">

      <label for="Fecha Pago Regalias">Fecha Pago Regalias</label>
      <nb-select
        placeholder="Fecha Pago Regalias"
        formControlName="Fecha Pago Regalias"
        class="dis-block select-style"
        fullWidth
        name="Fecha Pago Regalias">
        <nb-option value="1">Option 1</nb-option>
        <nb-option value="2">Option 2</nb-option>
        <nb-option value="3">Option 3</nb-option>
        <nb-option value="4">Option 4</nb-option>
      </nb-select>
      </div>

      <div
        class="p-1"
        [class.w-25]="25">
      <label for="Velor Regalias">Velor Regalias</label>
      <input
        type="number"
        nbInput
        fullWidth
        formControlName="Velor Regalias"
        name="desc"
        fieldSize="medium"
        placeholder="Velor Regalias"
        class="dis-block"
        />
      </div>

      <div
        class="p-1"
        [class.w-25]="25">

      <label for="Nro Cargue">Nro. Cargue</label>
      <input
        type="number"
        nbInput
        fullWidth
        formControlName="Nro Cargue"
        name="desc"
        fieldSize="medium"
        placeholder="Nro Cargue"
        class="dis-block"
        />
      </div>

      <div
        class="p-1"
        [class.w-25]="25">

      <label for="Titulo Minero">Titulo Minero</label>
      <nb-select
        placeholder="Titulo Minero"
        formControlName="Titulo Minero"
        class="dis-block select-style"
        fullWidth
        name="Titulo Minero">
        <nb-option value="1">Option 1</nb-option>
        <nb-option value="2">Option 2</nb-option>
        <nb-option value="3">Option 3</nb-option>
        <nb-option value="4">Option 4</nb-option>
      </nb-select>

      </div>

    </form>
  </nb-card-body>
</nb-card>
